.random1{
    color:rgb(75, 111, 143);
}
#random{
    font-size: 60px;
    color: aquamarine;
    background-color: brown ;
    width:100% ;
 
  
}
#demo{
    font-size: 65px;
    color: black;
    padding: 5%;
    background-color: cadetblue;
    
    align-items: center;
}
body{
    background-color: darkkhaki;
}